@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-serif: 'Lora', serif;
  --font-sans: 'Raleway', sans-serif;

  --color-sand-50:  #FDFCFA;
  --color-sand-100: #F8F4EF;
  --color-sand-200: #EEE7DF;
  --color-sand-300: #E3D9CE;
  --color-sand-400: #D2C5B7;
  --color-sand-500: #BEAE9F;
  --color-sand-600: #A39183;
  --color-sand-700: #84756A;
  --color-sand-800: #655A52;
  --color-sand-900: #493F39;
  --color-sand-950: #2A2420;

  --color-sage-50:  #F5F6F1;
--color-sage-100: #E8EBE0;
--color-sage-200: #D2D8C2;
--color-sage-300: #B4BF9C;
--color-sage-400: #94A377;
--color-sage-500: #78895C;
--color-sage-600: #5F6E48;
--color-sage-700: #4B573A;
--color-sage-800: #3D4630;
--color-sage-900: #333A29;
--color-sage-950: #1B1F14;

  --color-brand-50:  #FCF9F5;
--color-brand-100: #F7F0E8;
--color-brand-200: #EEDFCB;
--color-brand-300: #E3C6A1;
--color-brand-400: #D3A06E;
--color-brand-500: #C17D45;
--color-brand-600: #A76432;
--color-brand-700: #8A4E28;
--color-brand-800: #6D3D22;
--color-brand-900: #562F1D;
--color-brand-950: #30180F;
}

:root {
  --ui-primary:          var(--ui-color-primary-600);

  --ui-bg:               var(--ui-color-neutral-50);
  --ui-bg-muted:         var(--ui-color-neutral-100);
  --ui-bg-elevated:      var(--ui-color-neutral-200);
  --ui-bg-accented:      var(--ui-color-neutral-300);
  --ui-bg-inverted:      var(--ui-color-neutral-950);

  --ui-text-dimmed:      var(--ui-color-neutral-600);
  --ui-text-muted:       var(--ui-color-neutral-700);
  --ui-text-toned:       var(--ui-color-neutral-800);
  --ui-text:             var(--ui-color-neutral-900);
  --ui-text-highlighted: var(--ui-color-neutral-950);
  --ui-text-inverted:    var(--ui-color-neutral-50);

  --ui-border:           var(--ui-color-neutral-300);
  --ui-border-muted:     var(--ui-color-neutral-200);
  --ui-border-accented:  var(--ui-color-neutral-500);
  --ui-border-inverted:  var(--ui-color-neutral-950);

  --ui-radius:           0.5rem;

  --ui-header-height: 4rem;
}