<div class="md:col-span-3">
    <!-- Accordion -->
    <div class="hs-accordion-group divide-y divide-gray-300">
        {% for faq in faqs %}
            <div class="hs-accordion pt-6 pb-3 {% if forloop.first %}active{% endif %}" id="hs-basic-with-title-and-arrow-stretched-heading-{{ forloop.counter }}">
                <button class="font-lora text-lg font-medium hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-xl text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-hidden focus:text-gray-500"
                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                        aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-{{ forloop.counter }}">
                    {{ faq.question }}
                    <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6"/>
                    </svg>
                    <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="m18 15-6-6-6 6"/>
                    </svg>
                </button>
                <div id="hs-basic-with-title-and-arrow-stretched-collapse-{{ forloop.counter }}"
                     class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                     role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-{{ forloop.counter }}"
                     {% if forloop.first %}style="height: auto;"{% else %}style="height: 0;"{% endif %}>
                    <p class="prose text-sm lg:text-base text-gray-600 font-montserrat">
                        {{ faq.answer|safe }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- End Accordion -->
</div>





