{
    email admin@belovedbully.ru
}

belovedbully.ru, www.belovedbully.ru {

    handle /static/* {
        root * /app/staticfiles
        file_server
    }

    handle /media/* {
        root * /app
        file_server
    }

    handle /admin/* {
        reverse_proxy backend:8000
    }

    handle /api/v1/* {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }

    log {
        output file /var/log/caddy/access.log
    }
}