{% extends 'base.html' %}
{% block page_title %}{{ page_title }}{% endblock %}

{% load static %}

{% block content %}
	<!-- Blog Article -->
	<div class="bg-[#EEE7DF]">
		<div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto bg-white">
			<div class="max-w-2xl">
				<!-- Avatar Media -->
				<div class="flex justify-between items-center mb-6">
					<div class="flex w-full sm:items-center gap-x-5 sm:gap-x-3">

						<div class="grow">
							<div class="flex justify-between items-center gap-x-2">
								<div>
									<!-- Tooltip -->
									<div class="hs-tooltip [--trigger:hover] [--placement:bottom] inline-block">
										<div class="hs-tooltip-toggle sm:mb-1 block text-start cursor-pointer">
                  <span class="font-semibold text-gray-800">
                    BelovedBully
                  </span>
										</div>
									</div>
									<!-- End Tooltip -->

									<ul class="text-xs text-gray-500">
										<li class="inline-block relative pe-6 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-2 before:-translate-y-1/2 before:size-1 before:bg-gray-300 before:rounded-full">
											{{ article.created_at }}
										</li>
										<li class="inline-block relative pe-6 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-2 before:-translate-y-1/2 before:size-1 before:bg-gray-300 before:rounded-full">
											{{ article.reading_time }} мин. чтения
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Avatar Media -->

				<!-- Content -->
				<div class="prose space-y-5 md:space-y-8 ">
					<div class="space-y-3">
						<h2 class="text-2xl font-bold md:text-3xl font-montserrat">{{ article.title }}</h2>

						<p class="text-lg text-gray-800 font-montserrat">{{ article.content|safe }}</p>
					</div>

				</div>
				<!-- End Content -->
			</div>
		</div>
		<!-- End Blog Article -->
	</div>

{% endblock %}