{% extends 'base.html' %}
{% block page_title %}{{ page_title }}{% endblock %}

{% load static %}

{% block content %}
	<div class="bg-[#EEE7DF]">
		<div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">

			<div class="bg-white grid grid-cols-1 lg:grid-cols-2 shadow-lg rounded-3xl border-b-3 border-solid border-base-300 ring-1 ring-black/5">


				<div class="p-4 gap-8">
					<!-- Slider -->
					<div data-hs-carousel='{
					    "loadingClasses": "opacity-0",
					    "isInfiniteLoop": true,
					    "isAutoPlay": true,
					    "dotsItemClasses": "hs-carousel-active:bg-white size-3 bg-white/40 rounded-full cursor-pointer"
					  }' class="relative w-full aspect-square"> <!-- Сделали слайдер квадратным на всех экранах -->

						<div class="hs-carousel relative overflow-hidden w-full h-full rounded-3xl ring-8 ring-black/5">
							<div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
								{% for image in dog.images.all %}
									<div class="hs-carousel-slide w-full h-full flex-shrink-0 relative">
										<!-- Размытый фон -->
										<div class="absolute inset-0 overflow-hidden">
											<img src="{{ image.image.url }}" alt="Blurred Background"
											     class="w-full h-full object-cover scale-110 blur-lg" loading="lazy">
										</div>

										<!-- Основное изображение -->
										<img src="{{ image.image.url }}" alt="Dog Image"
										     class="absolute inset-0 w-full h-full object-contain z-10" loading="lazy">
									</div>
								{% endfor %}
							</div>
						</div>

						<!-- Status Label (показываем статус поверх изображения) -->
						{% if dog.status %}
							<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-[10px] md:text-xs font-montserrat font-medium absolute top-4 right-4 bg-black/20 text-white ring-1 ring-neutral-800/50 ring-inset">
					        {{ dog.get_status_display }}
					    </span>
						{% endif %}
						<!-- End Status Label -->

						<button type="button"
						        class="hs-carousel-prev hs-carousel-disabled:opacity-50 hs-carousel-disabled:cursor-default absolute top-1/2 start-2 inline-flex justify-center items-center size-10 bg-white border border-gray-100 text-gray-800 rounded-full shadow-2xs hover:bg-gray-100 -translate-y-1/2 focus:outline-hidden">
						    <span class="text-2xl" aria-hidden="true">
						      <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						           viewBox="0 0 24 24"
						           fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
						           stroke-linejoin="round">
						        <path d="m15 18-6-6 6-6"></path>
						      </svg>
						    </span>
							<span class="sr-only">Previous</span>
						</button>
						<button type="button"
						        class="hs-carousel-next hs-carousel-disabled:opacity-50 hs-carousel-disabled:cursor-default absolute top-1/2 end-2 inline-flex justify-center items-center size-10 bg-white border border-gray-100 text-gray-800 rounded-full shadow-2xs hover:bg-gray-100 -translate-y-1/2 focus:outline-hidden">
							<span class="sr-only">Next</span>
							<span class="text-2xl" aria-hidden="true">
						      <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						           viewBox="0 0 24 24"
						           fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
						           stroke-linejoin="round">
						        <path d="m9 18 6-6-6-6"></path>
						      </svg>
						    </span>
						</button>

						<div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 flex gap-x-2"></div>
					</div>
					<!-- End Slider -->


				</div>


				<div class="relative flex flex-col h-full p-4">
					<h2 class="text-5xl font-lora text-gray-800">{{ dog.name }}</h2>
					<p class="mt-4 text-gray-600 font-montserrat">{{ dog.description }}</p>
					<div class="mt-4 space-y-3">

						{% if dog.birth_date %}
							<div class="flex justify-between border-b pb-2 border-gray-200">
								<div class="text-gray-600 font-montserrat">Дата рождения:</div>
								<div class="font-medium text-gray-800 font-montserrat">{{ dog.birth_date }}</div>
							</div>
						{% endif %}

						<div class="flex justify-between border-b pb-2 border-gray-200">
							<div class="text-gray-600 font-montserrat">Пол:</div>
							<div class="font-medium text-gray-800 font-montserrat">{{ dog.get_gender_display }}</div>
						</div>

						{% if dog.dog_type %}
							<div class="flex justify-between border-b pb-2 border-gray-200">
								<div class="text-gray-600 font-montserrat">Тип:</div>
								<div class="font-medium text-gray-800 font-montserrat">{{ dog.dog_type }}</div>
							</div>
						{% endif %}

						{% if dog.color %}
							<div class="flex justify-between border-b pb-2 border-gray-200">
								<div class="text-gray-600 font-montserrat">Окрас:</div>
								<div class="font-medium text-gray-800 font-montserrat">{{ dog.color }}</div>
							</div>
						{% endif %}

						{% if dog.litter %}
							<div class="flex justify-between border-b pb-2 border-gray-200">
								<div class="text-gray-600 font-montserrat">Родители:</div>
								<div class="font-medium font-montserrat">
									<a href=""
									   class="text-blue-600 hover:text-blue-800">
										{{ dog.litter }}
									</a>
								</div>
							</div>
						{% endif %}


						{% if dog.price %}
							<div class="flex justify-between border-b pb-2 border-gray-200">
								<div class="text-gray-600 font-montserrat">Стоимость:</div>
								<div class="font-medium text-gray-800 font-montserrat">{{ dog.price }} ₽</div>
							</div>
						{% endif %}


						<!-- Buttons -->
						<div class="mt-7 grid grid-cols-1 md:grid-cols-2 gap-3 w-full">

							{% if dog.pedigree %}
								<a class="font-montserrat py-3 px-4 justify-center inline-flex items-center gap-x-1 text-sm font-medium rounded-2xl border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none w-full"
								   href="{{ dog.pedigree }}">
									Родословная
								</a>
							{% endif %}

							{% if dog.category == "puppy" %}
								{% with message="Здравствуйте. Хочу забронировать щенка " %}
									<a class="font-montserrat py-3 px-4 justify-center inline-flex items-center gap-x-1 text-sm font-medium rounded-2xl border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none w-full"
									   href="https://wa.me/79688212621?text={{ message|add:dog.name|urlencode }}"
									   target="_blank" rel="noopener noreferrer">
										Забронировать
									</a>
								{% endwith %}
							{% endif %}

						</div>
						<!-- End Buttons -->
					</div>

				</div>


			</div>

		</div>
	</div>

{% endblock %}
